.root {
    -fx-focus-color: -fx-outer-border;
    -fx-faint-focus-color: transparent;
}

.table-row-cell:filled:selected {
    -fx-background-color: derive(#44B, +80%);
}

.button:default {
    -fx-font-weight: bold;
    -fx-base: #44B
}

.table-row-cell:filled .box {
    -fx-background-color: derive(#44B, +70%);
}

.split-pane {
    -fx-background-insets: 0
}


.image-open-button, .image-delete-button {
    -fx-pref-height: 20px;
    -fx-pref-width: 24px;
    -fx-background-size: 30px;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.image-open-button {
    -fx-background-image: url("image-open.png");
}

.image-delete-button {
    -fx-background-image: url("image-delete.png");
}